{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Chat with Bot {% endblock %}</h1>
    <form method="post" name="chatForm">
        {{ form.hidden_tag() }}
        <label for="content">Input Question: </label>
        <br>
        <textarea name="content"
                  placeholder="Ask me anything..."
                  rows="5"
                  cols="50"
                  >{{ request.form['content'] }}</textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}